  {% for tag in page.tags %}
     <a href="/HelloWorld/blog/tag/#{{ tag | slugify }}" class="codinfox-tag-mark">{{ tag }}</a>&nbsp;

  {% endfor %}
  {% assign tag_hashes = (page_tags | split: ',' | sort:0) %}

  <!--
  <p class="page__taxonomy">
    <strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }} </strong>
    <span itemprop="keywords">
    {% for hash in post.tags %}
      {% assign keyValue = hash | split: '#' %}
      {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
      <a href="{{ base_path }}{{ tag_word | slugify | prepend: path_type | prepend: site.tag_archive.path }}" class="page__taxonomy-item" rel="tag">{{ tag_word }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
    {% endfor %}
    </span>
  </p>
  -->
